PORT=5000
NODE_ENV=development

DATABASE_URL="YOUR_CONNECTION_STRING_HERE"
APP_URL="https://your-trusted-home-service-platform.vercel.app"

BCRYPT_SALT_ROUNDS=10

JWT_ACCESS_SECRET="your_access_secret"
JWT_REFRESH_SECRET="your_refresh_secret"
JWT_ACCESS_EXPIRES_IN="1d"
JWT_REFRESH_EXPIRES_IN="30d"

STRIPE_SECRET_KEY="sk_test_your_stripe_secret_key"
STRIPE_WEBHOOK_SECRET="whsec_your_stripe_webhook_secret"
STRIPE_PRODUCT_PRICE_ID="price_optional_placeholder"
